#speedplus_optimini_admin_panel{background:#FFF;padding:20px}
#speedplus_optimini_admin_panel h2{border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px}
#speedplus_optimini_admin_panel tr:nth-child(odd){background:#f5f5f5}
#speedplus_optimini_admin_panel_footer{padding:20px 0;font-weight:700}
#speedplus_optimini_save_message{background:#fff;padding:5px 15px;color:#fff;border:1px solid #eee;font-weight:600;background:#26b429;background-color:#26b429}
span.speedplus_optimini_blue_bold_info{color:blue;font-size:small;font-weight:700}
span.speedplus_optimini_info{color:gray;font-size:small}
span.speedplus_optimini_red_bold_info{color:#d63638;font-size:small;font-weight:700}
.form-table th{vertical-align:middle!important;padding:12px 10px 12px 15px !important;width:150px!important}
.form-table td{padding:10px!important}
div#speedplus_optimini_save_message p{font-size:larger}
#speedplus_optimini_admin_panel_footer .dashicons-heart,#speedplus_optimini_admin_panel_footer .dashicons-edit-large{color:red}